<div id="viewport" class="viewport">
  <div class="slider card card-nomb" style="visibility: visible;">
    <!-- banner轮播Start -->
    <script type="text/javascript" src="/fykzx/TouchSlide.1.1.js"></script>
    <div id="focus" class="focus">
      <div class="hd">
        <ul><li class="on">1</li></ul>
      </div>
      <div class="bd">
        <div class="tempWrap" style="overflow:hidden; position:relative;"><ul style="width: 2160px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 0ms; transform: translate(-720px, 0px) translateZ(0px);">
                 <li style="display: table-cell; vertical-align: top; width: 720px;"><a href="/mobile/affiche?ad_id=11&amp;uri=" title="手机首页顶部图片1" target="_blank"><img name="ad_img" src="/fykzx/1459172185873545213.jpg" alt="手机首页顶部图片1"></a></li>
                 <li style="display: table-cell; vertical-align: top; width: 720px;"><a href="/mobile/affiche?ad_id=11&amp;uri=" title="手机首页顶部图片1" target="_blank"><img name="ad_img" src="/fykzx/14591721858735452131.jpg" alt="手机首页顶部图片1"></a></li>
                <li style="display: table-cell; vertical-align: top; width: 720px;"><a href="/mobile/affiche?ad_id=11&amp;uri=" title="手机首页顶部图片1" target="_blank"><img name="ad_img" src="/fykzx/14591721858735452132.jpg" alt="手机首页顶部图片1"></a></li></ul></div>
      </div>
    </div>
    <script type="text/javascript">
	TouchSlide({
		slideCell:"#focus",
		titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
		mainCell:".bd ul",
		delayTime:600,
		interTime:4000,
		effect:"leftLoop",
		autoPlay:true,//自动播放
		autoPage:true, //自动分页
		switchLoad:"_src" //切换加载，真实图片路径为"_src"
	});
	</script>
    <!-- banner轮播End -->
  </div>
  <div class="nav-index card">
   <ul>
            <li><a class="ui-link" href="/" data-ajax="false">
            <img src="/fykzx/ini1.png"><span>走进上儿</span></a>
            </li>
            <li><a class="ui-link" href="/pages/?cate=8&platform=mobile" data-ajax="false">
            <img src="/fykzx/ini2.png"><span>孕妇健康</span></a>
            </li>
            <li><a class="ui-link" href="/pages/?cate=9&platform=mobile" data-ajax="false">
            <img src="/fykzx/ini3.png"><span>儿童健康</span></a>
            </li>
            <li><a class="ui-link" href="/pages/?cate=10&platform=mobile" data-ajax="false">
            <img src="/fykzx/ini4.png"><span>研究文献</span></a>
            </li>
            <li><a class="ui-link" href="/pages/?cate=11&platform=mobile" data-ajax="false">
            <img src="/fykzx/ini5.png"><span>婴幼儿健康</span></a>
            </li>
             <li><a class="ui-link" href="/mobile/490/cates" data-ajax="false">
            <img src="/fykzx/ini6.png"><span><font color="#FF0000">营养商城</font></span></a>
            </li>
             <li><a class="ui-link" href="#" data-ajax="false">
            <img src="/fykzx/ini7.png"><span>专家解答</span></a>
            </li>
            <li><a class="ui-link" href="/pages/ExpertsParenting?platform=mobile" data-ajax="false">
            <img src="/fykzx/ini8.png"><span>联系我们</span></a>
            </li>
          </ul>
  </div>
  <div class="search">
   <!--搜索框区域begin-->
<div class="seo clearfix">
<form action="/mobile/search" method="get" name="searchForm">
	<div class="search-area clearfix s-area">
		<div class="search_l"><a class="back" href="javascript:history.back();"></a></div>
        <input type="hidden" name="category" value="">
        <div class="search_c"><input type="text" name="keywords" value="" id="keywords" class="key-word"></div>
		<div class="search_r"><input class="search-icon" type="submit" id="btn_search"></div>
	</div>
</form>
</div>
<script type="text/javascript">
function readSN(){
	window.wst.readSN();
}
var searchInput = document.getElementById('keywords');
searchInput.onfocus = function () {
    if (searchInput.value == '请输入关键词')
        searchInput.value = '';
};
searchInput.onblur = function () {
    if (searchInput.value == '')
        searchInput.value = '请输入关键词';
}
function chkSearch() {
    if (searchInput.value == "请输入关键词") {
        alert('请输入关键词');
        searchInput.onfocus();
        return false;
    }
}
</script>
  </div>
<div class="search">
  <div class="card show_big">
    <div class="col2">
	        <div class="rows">
        <div class="row1 mg-bor-no-left mg-bor-top">
          <a href="/mobile/affiche?ad_id=37&amp;uri=" target="_blank" class="img">
            <span class="imgurl">
              <img data-original="../data/afficheimg/1468920723728811262.jpg" style="display: inline;" src="/fykzx/1468920723728811262.jpg">
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col2">
	 	      </div>
  </div>
  <div class="card" style='display:none'>
    <div class="topic">
      <div class="bg">
        <div class="imgurl">
          <img data-original="../data/afficheimg/1468921115053149705.jpg" style="display:inline;" src="/fykzx/1468921115053149705.jpg">
        </div>
      </div>
      <a href="/mobile/activity" class="targeturl"></a>
      <div class="item-lay">
      	<!---->
      </div>
    </div>
  </div>
  <div class="card">
    <div class="topic">
      <div class="bg">
        <div class="imgurl">
          <img data-original="../data/afficheimg/1463364845418774198.jpg" style="display:inline;" src="/fykzx/1463364845418774198.jpg">
        </div>
      </div>
      <a href="/mobile/490/cates" class="targeturl"></a>
      <div class="item-lay">
        <%@goods.each do |good|%>
          <div class="item-l">
            <a href="/mobile/<%=good.goods_id%>">
              <span class="imgurl"> <img data-original="<%=good.medium_pic%>" style="display: inline;" src="<%=good.medium_pic%>"> </span>
            <p> <span><%=good.name%> </span> </p>
            <p> <span>￥<%=good.price%>元</span> </p>
            </a>
          </div>
       <%end%>
      </div>
    </div>
  </div>
 </div>
</div>
<!--页面底部-->
<div class="wx_qr_code"><img src="/fykzx/1459307688940000563.gif"></div>
