<!DOCTYPE html>
<html lang="zh-CN" class="detail_standard"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script>

    <% return_url={:return_url => request.url.sub('http://trade','').force_encoding('UTF-8')}.to_query%>
    function isWeixinBrowser(){
        var ua = navigator.userAgent.toLowerCase();
      //  alert(ua);
      return (/micromessenger/.test(ua)) ? true : false ;
  }

  var is_weixin_browser = true; isWeixinBrowser();

  var auto_login_url= '/mlogin';
  var supplier_id='78';

  if(is_weixin_browser){

      auto_login_url= '/auto_login?id=78&<%=return_url%>&platform=mobile';
  }

  <%if @user && @user.account.supplier_id%>
  if ('<%=@user.account.supplier_id %>'!=supplier_id){
    location.href = auto_login_url;
}
<%elsif @no_need_login.nil?%>
location.href = auto_login_url;
<%end%>
</script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>上海儿童营养商城-商品详情</title>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="x-dns-prefetch-control" content="on">

<link rel="stylesheet" href="/new_mobile/css/base.s.min.css">
<link rel="stylesheet" href="/new_mobile/css/mod_nav_head.s.min.css">
<link rel="stylesheet" href="/new_mobile/css/mod_aside.s.min.css">
<link rel="stylesheet" href="/new_mobile/css/mod_bar_download.s.min.css">
<link rel="stylesheet" href="/new_mobile/css/area_select.s.min.css">
<link rel="stylesheet" href="/new_mobile/css/detail.s.min.css?t=1435217816">
<link href="/fykzx/home.css" rel="stylesheet" type="text/css">

</head>
<body>

  <div id="part_main">
      <div class="wx_bar wx_bar_in" style="display:none" id="topBack">
        <div class="wx_bar_back"><a id="backUrl" href="/mobile">上儿营养商城</a></div>
        <div class="wx_bar_tit"></div>
    </div>
    <script type="text/javascript">
      function $id(id){
          return document.getElementById(id) || document.createElement('span');
      }
      var _iswx = navigator.userAgent.toLowerCase().indexOf('micromessenger') != -1;
      function showTopBack(isshow){
          if(isshow || (history.length<=1 && location.href.indexOf('hidetitle')==-1)) {
              if(_iswx){
                 $id('topBack').style.display = '';
                 $id('backUrl').href='/mobile';
             };
         };
     };
     showTopBack(false);
 </script>
 <div class="slider card card-nomb" style="visibility: visible;">
   <!-- banner轮播Start -->
   <script type="text/javascript" src="/fykzx/TouchSlide.1.1.js"></script>
   <div id="focus" class="focus">
     <div class="hd">
       <ul><li class="on">1</li></ul>
     </div>
     <div class="bd">
       <div class="tempWrap" style="overflow:hidden; position:relative;">
         <ul style="width: 2160px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 0ms; transform: translate(-720px, 0px) translateZ(0px);">
           <%@goods.products.each do |product|%>
              <%for value in 0..(product.big_pic.split(",").length-1)%>
                <li style="display: table-cell; vertical-align: top; width: 720px;">
                  <img  src="<%=product.big_pic.split(",")[value]%>" alt="<%=product.name%>" class='p-<%=product.product_id%>'>
                </li>
                <%end%>
            <%end%>
          </ul></div>
     </div>
   </div>
   <script type="text/javascript">
     TouchSlide({
       slideCell:"#focus",
       titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
       mainCell:".bd ul",
       delayTime:600,
       interTime:4000,
       effect:"leftLoop",
       autoPlay:true,//自动播放
       autoPage:true, //自动分页
       switchLoad:"_src" //切换加载，真实图片路径为"_src"
     });
     </script>
   <!-- banner轮播End -->
 </div>
<%=form_for :product,:url=>add_cart_index_path, :html => {:id => 'add_product_to_cart'} do |f|%>
<%=f.hidden_field :goods_id,:value=>@goods.goods_id%>
<%=f.hidden_field :type_id,:value=>@goods.type_id%>
<input type="hidden" name="platform" value="new_mobile">
<div class="buy_area">
    <div class="fn_wrap">
        <h1 class="fn" id="itemName"><%=@goods.name%></h1>
        <div class="desc" id="itemDesc">
          <%=raw @goods.desc.gsub(/width/,'widthh').gsub(/height/,'heightt/') if @goods.desc%>
      </div>

      <div class="book_desc" id="actTitleDesc" style="display:none"></div>
  </div>

  <div class="price_wrap" id="priceBlock">
    <span class="tit" id="priceTitle">优惠价：</span>
    <span class="price price-sale" id="priceSale"><%=@goods.price%></span>
    <span class="tit" id="priceTitle">市场价：</span>
    <span class="price price-market"  id="priceMarket" style="text-decoration:line-through"><%=@goods.mktprice%></span>
    <span class="col_right" id="headEval" ptag="7001.1.26">
        <span class="sale_num">评价：<b id="evalNo1"></b>条</span>
    </span>
</div>
<style>

.spec-values{}
.spec-values li{ float:left; height:28px; position:relative; margin:2px 6px 2px 0; outline:none;}
.spec-values li a{ height:24px; padding:2px 10px; border:1px solid #ccc; background:#fff; display:inline-block; line-height:24px;}
.spec-values li a:hover{ border:2px solid #e4393c; padding:0 5px; text-decoration:none;}
.spec-values li i{ position:absolute; width:10px; height:10px; font-size:0; line-height:0; right:2px; bottom:2px; background:url(../img/sys_item_selected.gif) no-repeat right bottom; z-index:99; display:none;}
.spec-values li.selected a{ border:2px solid #e4393c; padding:0 5px;}
.spec-values li.selected i{ display:block;}
</style>

<div class="sku_container sku_container_on" id="skuCont">
  <div class="sku_wrap">
      <div id="propertyDiv">
         <%=hidden_field_tag "product[specs][]",@goods.good_specs.first.spec_value_id%>

         <ul class="spec-values clearfix">
           <li class="spec-name">规格 : </li>
           <%@goods.good_specs.each.with_index  do |spec,index|%>
           <li class="<%='selected' if index==0%>">
             <%=link_to spec.spec_value.spec_value, "javascript:;", :onclick => 'change_price(this)',
              :id => "spec-value-#{index}",
              :data=>{:value=>spec.spec_value_id,:price=>spec.product.price,:mktprice=>spec.product.mktprice,:pic=>spec.product.big_pic.split(",")[0]},:title=>spec.spec_value_id;%>
            </li>
          <%end%>
          </ul>
      </div>

   <script language="javascript">

    function change_price(obj){

     $('#priceSale').text($(obj).data('price'));
     $('#priceMarket').text($(obj).data('mktprice'));
     $('#product_specs_').val($(obj).data('value'));

    //  var index=$(obj).index();
     //
    //  $('.pic_list').removeClass('active');
    //  $('.pic_list').eq(index).addClass('active');

    }

   $(function(){
     $(".spec-values li ").click(function(){
         if(!!$(this).hasClass("selected")){
           $(this).removeClass("selected");

         }else{
           $(this).addClass("selected").siblings("li").removeClass("selected");

         }
     })
    })

  function add() {
    var obj = document.getElementById("buyNum");
    var store = document.getElementById("store");

          if(store.value <= obj.value) {
             alert("亲，库存不够了") ;
      return;
    }
    obj.value = parseInt(obj.value) + 1;
  }

  function remov() {
    var obj = document.getElementById("buyNum");
    if(obj.value <=1) {
        alert("亲，不能在减了～") ;
      return;
    }

    obj.value = parseInt(obj.value) - 1;
  }

</script>
<div class="sku sku_num" id="skuNum">
    <h3>数量</h3>
    <div class="num_wrap">
        <span class="minus minus_disabled" id="minus" ptag="7001.1.11" onclick="remov()"></span>
        <input class="num" id="buyNum" type="tel" value="1" name="product[quantity]"   onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
        <span class="plus" id="plus" ptag="7001.1.11" onclick="add()"></span>
          <p hidden>  <input class="store" id="store" style="" value="<%=@goods.store.to_i%>"></span></p>
    </div>
</div>
</div>
</div>

<div class="detail_extra">
    <div class="detail_gap"  style="display:none"></div>
    <%if @recommend_goods.size > 0%>
    <div class="detail_cmd" id="guessArea" style="display:none;">
    <!--<div class="hd"><h3 class="tit">猜你喜欢</h3></div>

    <div class="bd">-->

        <div class="inner" id="guessItem" style="display:none;">

           <%@recommend_goods.each do |good|%>
           <ul class="bar" id="guessItemTab">
              <li>
                <%=link_to good_path(good.bn,:tag=>@tag&&@tag.tag_name) do %>
                <%=image_tag good.rec_image,:alt=>good.name%>
                <%end%>

            </li>

        </ul>

        <%end%>
    </div>
    <!-- inner -->
    <div class="bar_wrap" style="display:none;">
       <%@recommend_goods.each do |good|%>
       <ul class="bar" id="guessItemTab">


          <li>
            <%=link_to good_path(good.bn,:tag=>@tag&&@tag.tag_name) do %>
            <%=image_tag good.rec_image,:alt=>good.name%>
            <%end%>

        </li>

    </ul>

    <%end%>
</div>

</div>
<!-- bd -->
</div>
<div id="appdlCon"></div>
</div>
<%end%>
<div id="detailBaseLine" class="mod_tab_gap"></div>

<div class="mod_fix_wrap">
    <div class="mod_fix">
        <div class="mod_tab" id="detailTab">
            <span class="cur product-intro"  >商品介绍</span>
            <span class="after-sale">售后保障</span>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
  $(".mod_tab span").click(function(){
      if(!!$(this).hasClass("cur")){
        $(this).removeClass("cur");

      }else{
        $(this).addClass("cur").siblings("span").removeClass("cur");

      }
      if ($(this).hasClass("product-intro")){
        $('#detailCont1').removeClass("hidden");
        $('#after_sale').addClass("hidden");

      }

      if ($(this).hasClass("after-sale")){
        $('#detailCont1').addClass("hidden");
        $('#after_sale').removeClass("hidden");

      }
  })
 })
  //  $(document).ready(function(){
  //               $('#commDesc1 img').each(function() {
  //               var maxWidth =600; // 图片最大宽度
  //               var ratio = 0;  // 缩放比例
  //                var width = $(this).width();    // 图片实际宽度
  //                var height = $(this).height();  // 图片实际高度
  //                              // 检查图片是否超宽
  //                if(width > maxWidth){
  //                ratio = maxWidth / width;   // 计算缩放比例
  //                $(this).css("width", maxWidth); // 设定实际显示宽度
  //                height = height * ratio;    // 计算等比例缩放后的高度
  //                 $(this).css("height", height);  // 设定等比例缩放后的高度
  //                 }     // 检查图片是否超宽
  //                 });
  //           });
        </script>
        <style>
            .hidden{display:none}
            #commDesc1 img{
                width:100%

            }
        </style>
        <div class="detail_info_wrap1" id="detail" >
            <div class="detail_list1" id="detailCont1">
                <!-- 商品介绍 -->
                <div class="detail_item1 p_desc1" id="detail11" style="position:static;width:100%">
                    <div id="commDesc1" class="detail_pc1 col-xs-12" style="width:100%" >
                        <%=raw @goods.intro.gsub(/width/,'widthh').gsub(/height/,'heightt/') if @goods.intro%>
                    </div>
                </div>
           </div>
           <!-- 评论 -->
           <div class="detail_item p_cmt hidden" id="after_sale">
               <div>
                   <div class="mod_tit_line"><h3>售后报障</h3></div>
                   我司承诺本店销售的所有产品均为原厂正品，非质量问题的退换货，请确保外包装完整且防伪码未被刮开（不影响二次销售）。

               </div>
           </div>
       </div>
    </div>
  <%end%>


</div>


<div id="part_summary" style="display: none">
    <div class="wx_aside">
        <a href="javascript:;" id="goTop" ptag="7001.1.2" style="display:none;" class="goTopBtn btn_top btn_top_active">返回顶部</a>
    </div>
    <div class="detail_row detail_cmt">
       <div class="mod_fix_wrap"><div id="evalHead" class="mod_fix fixed"></div></div>
       <div id="evalHead2"></div>

       <!-- cmt_view -->
       <div class="cmt_tag" id="evalTag2"></div>
       <!-- cmt_tag -->
       <div class="cmt_list_wrap">
        <ul class="cmt_list" id="evalDet_summary"></ul>
        <div class="cmt_list_loading">
            <span class="tip" style="display: none;">加载更多</span>
            <div class="wx_loading2" id="eveaLoading"><i class="wx_loading_icon"></i></div>
        </div>
    </div>
    <!-- list -->
    <div id="appdlCon2"></div>
</div>
</div>

</div>

<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-ui-1.9.2.custom.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_jcarousel.js?body=1" type="text/javascript"></script>
<script src="/assets/bootstrap-modal.js?body=1" type="text/javascript"></script>
<script src="/assets/bootstrap-tooltip.js?body=1" type="text/javascript"></script>
<script src="/assets/bootstrap-popover.js?body=1" type="text/javascript"></script>
<script src="/assets/bootstrap-dropdown.js?body=1" type="text/javascript"></script>
<script src="/assets/store/new_base.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.countdown.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.jqzoom-core.js?body=1" type="text/javascript"></script>
<script src="/assets/store/new_goods.js?body=1" type="text/javascript"></script>

</body></html>
